@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* Trỏ font mặc định sang Roboto */
  --font-sans: var(--font-roboto), ui-sans-serif, system-ui, sans-serif;
}

/* ĐÃ XÓA SẠCH KHỐI @media (prefers-color-scheme: dark) TẠI ĐÂY */

body {
  background: var(--background);
  color: var(--foreground);
}

/* Các class tùy chỉnh khác nếu có Sếp cứ để dưới này */